body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


h1 {
    text-align: center;
}

#main-content{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #585454;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.section{
    background-color: chocolate;
    padding-top: 20px;
    padding-bottom: 10px;
}

#title{
    background-color: rgb(226, 43, 202);
}

#zip-section{
    background-color: rgb(63, 238, 215);
}


#feel-section{
    background-color: rgb(37, 170, 163);
}

#button-section{
    background-color: rgb(102, 161, 125);
}

button{
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #0056b3;

}
#result-section{
    background-color: rgb(110, 19, 69);
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#feelings{
    border-radius: 20px;
    padding: 20px;
}










.weather-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


















